@import "tailwindcss";

:root {
  --background: #fcf9f8;
  --foreground: #171717;
  --primary: #f5f5dc;
  --secondary: #583e37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcf9f8;
    --foreground: #171717;
    --primary: #f5f5dc;
    --secondary: #583e37;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@font-face {
  font-family: "Ozean";
  src: url("/fonts/Ozean/ozean.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.fontozean {
  font-family: "Ozean", sans-serif;
}

@font-face {
  font-family: "Melodrama";
  src: url("/fonts/Melodrama/Melodrama-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Melodrama";
  src: url("/fonts/Melodrama/Melodrama-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

.fontmelo {
  font-family: "Melodrama", sans-serif;
}

.fontmelobold {
  font-family: "Melodrama", sans-serif;
}

@font-face {
  font-family: "ClashDisplay";
  src: url("/fonts/ClashDisplay/ClashDisplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.clash {
  font-family: "ClashDisplay", sans-serif;
}

@font-face {
  font-family: "Zina";
  src: url("/fonts/porsha/PorshaRichela.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.zina {
  font-family: "Zina", sans-serif;
}

.masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}

.masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.masonry-item {
  margin-bottom: 16px;
}
